# editor
*.swp
*.swo
*~
.*~
\#*#

# colcon
/build/
/log/
/install/
/scripts/map/_projector_cpp/build/
/scripts/map/_projector_cpp/install/
/scripts/map/_projector_cpp/log/

# python
__pycache__/
*.pyc
*.pyo

# tmp
tmp/

# play records
play_log/

# downloaded datasets
data/leodrive-busood/
