[submodule "src/vehicle/external/autoware_manual_control"]
	path = src/vehicle/external/autoware_manual_control
	url = https://github.com/evshary/autoware_manual_control.git
[submodule "src/sensor_kit/autosdv_sensor_kit_launch"]
	path = src/sensor_kit/autosdv_sensor_kit_launch
	url = https://github.com/NEWSLabNTU/autosdv_sensor_kit_launch.git
[submodule "src/vehicle/autosdv_vehicle_launch"]
	path = src/vehicle/autosdv_vehicle_launch
	url = https://github.com/NEWSLabNTU/autosdv_vehicle_launch.git
[submodule "src/gnss_locator"]
	path = src/sensor_component/external/gnss_locator
	url = https://github.com/NEWSLabNTU/gnss_locator.git
[submodule "src/zed-ros2-wrapper"]
	path = src/sensor_component/external/zed-ros2-wrapper
	url = https://github.com/NEWSLabNTU/zed-ros2-wrapper.git
[submodule "AutoSDV-book"]
	path = book
	url = https://github.com/NEWSLabNTU/AutoSDV-book.git
[submodule "src/sensor_component/external/ros2_mpu9250_driver"]
	path = src/sensor_component/external/ros2_mpu9250_driver
	url = https://github.com/NEWSLabNTU/ros2_mpu9250_driver.git
[submodule "src/sensor_component/external/ros-nmea-reader"]
	path = src/sensor_component/external/ros-nmea-reader
	url = https://github.com/jerry73204/ros-nmea-reader.git
[submodule "src/param/autoware_individual_params"]
	path = src/param/autoware_individual_params
	url = https://github.com/NEWSLabNTU/autoware_individual_params.git
[submodule "src/sensor_component/external/seyond_ros_driver"]
	path = src/sensor_component/external/seyond_ros_driver
	url = https://github.com/NEWSLabNTU/seyond_ros_driver.git
[submodule "src/system/autosdv_runtime"]
	path = src/system/autosdv_runtime
	url = https://github.com/NEWSLabNTU/autosdv_runtime.git
[submodule "src/system/autosdv_system_monitor"]
	path = src/system/autosdv_system_monitor
	url = https://github.com/NEWSLabNTU/autosdv_system_monitor.git
[submodule "src/calibration/CalibrationTools"]
	path = src/calibration/CalibrationTools
	url = https://github.com/NEWSLabNTU/CalibrationTools.git
[submodule "src/sensor_component/external/autoware_zed"]
	path = src/sensor_component/external/autoware_zed
	url = https://github.com/NEWSLabNTU/autoware_zed.git
[submodule "src/sensor_component/external/zed-ros2-interfaces"]
	path = src/sensor_component/external/zed-ros2-interfaces
	url = https://github.com/stereolabs/zed-ros2-interfaces.git
